.App {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
}

input, textarea {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

textarea {
  height: 100px;
}

button {

  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #4fa3b0;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  color: #000;
  height: auto;
  max-width: 600px;
  margin: auto;
}

.product-container {
  height: auto;
  width: auto;

}


.product-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  
}

.title {
  max-width: 80%;
  height: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 28px;
  overflow-wrap: break-word; /* Propriedade mais moderna e recomendada */
  
}


.product-image-content {
  width: 550px;
  height: auto; /* Ajuste conforme necessário */
  max-width: 600px; /* Limita a largura máxima da imagem */
  max-height: 350px; 
  border: 5px aqua solid;
  border-radius: 12px;
}

.product-name {
  margin-top: -5px;
}

.promotion {
  font-size: 15px;
  font-weight: 800;
  color: rgb(2, 111, 101);
}

.description{
  font-size: 25px;
  font-weight: 900;
  border-top: 3px  gray solid;
  border-bottom: 3px  gray solid;
  margin-top: -30px;
  padding: 15px;
  width: auto;
  height: auto;
  overflow-wrap: break-word; /* Propriedade mais moderna e recomendada */
  color: rgb(82, 84, 84);
}

.h6 {
  color: rgb(11, 98, 98);
}




.price {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(7, 137, 137);
  border-radius: 10px;
  height: 120px;
  width: 90%;
  margin-bottom: -5px;
}

.price-strong{
  padding-left: 8px;
  text-align: start;
  margin-left: 25px;
  font-size: 23px;
  font-weight: bolder;
  width: 50%;
  color: white;
}

.price-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 19px;
  font-weight: bolder;
  padding-right: 2px;
  text-align: center;
  bottom: -5px;
  height: 70px;
  width: 50%;
  color: rgb(201, 201, 201);
  border-left:  rgb(255, 255, 255) 1px solid;
}

.price-price {
 
  font-size: 29px;
  margin-top: -5px;
  color: white;
}


img {
  margin-top: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

footer {
  height: 50px;
  font-size: 28px;
}

.example-image {
  margin-top: 20px;
  width: 400px;
  height: 180px; /* Ajuste conforme necessário */
  max-width: 500px; /* Limita a largura máxima da imagem */
  max-height: 350px; 
  border-radius: 5px;
}
