:root {
  --product-box-bg-color: #fff; /* Cor de fundo padrão para o product-box */
}

.App {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-content {
  display: flex;
  min-width: 100vw;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  max-width: 800px;
  margin-bottom: 20px;
}

input, textarea {
  margin: 10px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  width: 600px;
  height: 50px;
}

textarea {
  height: 100px;
}

button {
  margin-top: 10px;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #4fa3b0;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background: var(--product-box-bg-color); /* Usa a variável CSS para a cor de fundo */
  color: #000;
  height: 1080px;
  max-width: 600px;
  margin: auto;
}

.product-container {
  height: auto;
  width: auto;
  height: 1080px;
}

.product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 1080px;
}

.title {
  max-width: 85%;
  height: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px black;
  overflow-wrap: break-word; /* Propriedade mais moderna e recomendada */
  margin-bottom: -3px;
}

.product-image-content {
  width: 570px;
  height: auto; /* Ajuste conforme necessário */
  max-width: 570px; /* Limita a largura máxima da imagem */
  max-height: 450px; 

  border-radius: 12px;
  margin-top: 15px;
  margin-bottom: -25px;
}

.product-name {
  margin-top: -5px;
}

.promotion {
  font-size: 25px;
  font-weight: 800;
  color: rgb(2, 111, 101);
}

.description {
  font-size: 20px;
  font-weight: 900;
  max-width: 400px;
  border-top: 3px gray solid;
  border-bottom: 3px gray solid;
  margin-top: -30px;
  padding: 15px;
  width: auto;
  height: auto;
  overflow-wrap: break-word; /* Propriedade mais moderna e recomendada */
  color: rgb(0, 0, 0);
}

.h6 {
  color: rgb(11, 98, 98);
}

.input-file {
  color: #213547;
}

.price {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(7, 137, 137);
  border-radius: 10px;
  height: 110px;
  width: 90%;
  padding: 10px;
  margin-bottom: -15px;
}

.price-strong {
  padding-left: 8px;
  text-align: start;
  margin-left: 25px;
  font-size: 23px;
  font-weight: bolder;
  width: 50%;
  color: white;
}

.price-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 19px;
  font-weight: bolder;
  padding-right: 2px;
  text-align: center;
  bottom: -5px;
  height: 70px;
  width: 50%;
  color: rgb(201, 201, 201);
  border-left: rgb(255, 255, 255) 1px solid;
}

.price-price {
  font-size: 29px;
  margin-top: -5px;
  color: white;
}

.input-radio-container {
  display: flex;
  height: 50px;
  margin-top: 15px;
  width: 80%;
}

.radio-price {
  display: flex;
  width: 50%;
}

.radio-contact {
  display: flex;
  width: 50%;
}

.radio {
  height: 35px;
  display: flex;
  margin-left: -100px;
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  min-width: 100vw;
  height: 50px;
  font-size: 28px;
}

.logo-image {
  background-color: transparent;
  margin-top: 20px;
  width: 400px;
  height: 180px; /* Ajuste conforme necessário */
  max-width: 500px; /* Limita a largura máxima da imagem */
  max-height: 350px; 
  border-radius: 5px;
}
